<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=1600" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="x-rim-auto-match" content="none" />
    <link rel="shortcut icon" href="../static/images/favicon.ico" />
    <link rel="stylesheet" href="https://uicdn.toast.com/tui-image-editor/latest/tui-image-editor.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/sub.css" />
    <title>DINO</title>
    <script src="https://uicdn.toast.com/tui-image-editor/latest/tui-image-editor.js"></script>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/jquery-ui.min.js"></script>
    <script src="../static/js/slick.min.js"></script>
    <script src="../static/js/gsap.js"></script>
    <script src="../static/js/gsap_scroll_trigger.js"></script>
    <script src="../static/js/green.js"></script>
    <script src="../static/js/common.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/sub.js"></script>
</head>

<body><section>
    <div class="category_edit">
        <p>카테고리수정</p>
        <a href="javascript:window.close();"> <img class="x_btn" src="../static/images/x_btn.png"></a>
        <div>
            <ul>
                <li>
                    <div>
                        <img src="../static/images/category_naver.png">
                        <p>스마트스토어</p>
                    </div>
                    <input type="text" name="category" class="text_field" placeholder="생활/건강 > 공구 > 원예공구 > 농기계 ">
                </li>


                <li>
                    <div>
                        <img src="../static/images/category_11st.png">
                        <p>11번가</p>
                    </div>
                    <input type="text" name="category" class="text_field" placeholder="생활/건강 > 공구 > 원예공구 > 농기계 ">
                </li>


                <li>
                    <div>
                        <img src="../static/images/category_gmarket.png">
                        <p>지마켓</p>
                    </div>
                    <input type="text" name="category" class="text_field" placeholder="생활/건강 > 공구 > 원예공구 > 농기계 ">
                </li>


                <li>
                    <div>
                        <img src="../static/images/category_auction.png">
                        <p>옥션</p>
                    </div>
                    <input type="text" name="category" class="text_field" placeholder="생활/건강 > 공구 > 원예공구 > 농기계 ">
                </li>


                <li>
                    <div>
                        <img src="../static/images/category_coupang.png">
                        <p>쿠팡</p>
                    </div>
                    <input type="text" name="category" class="text_field" placeholder="생활/건강 > 공구 > 원예공구 > 농기계 ">
                </li>


                <li>
                    <div>
                        <img src="../static/images/category_on.png">
                        <p>롯데온</p>
                    </div>
                    <input type="text" name="category" class="text_field" placeholder="생활/건강 > 공구 > 원예공구 > 농기계 ">
                </li>


                <li>
                    <div>
                        <img src="../static/images/category_wmp.png">
                        <p>위메프</p>
                    </div>
                    <input type="text" name="category" class="text_field" placeholder="생활/건강 > 공구 > 원예공구 > 농기계 ">
                </li>


                <li>
                    <div>
                        <img src="../static/images/category_tmon.png">
                        <p>티몬</p>
                    </div>
                    <input type="text" name="category" class="text_field" placeholder="생활/건강 > 공구 > 원예공구 > 농기계 ">
                </li>

            </ul>
        </div>

        <div class="confirm_cancel_btn">
            <input type="submit" value="확인" class="submit_btn">
            <input type="submit" value="취소" class="cancel_btn">
        </div>
    </div>
</section></body>

</html>
