<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=1600" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="x-rim-auto-match" content="none" />
    <link rel="shortcut icon" href="../static/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="../static/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/sub.css" />
    <title>DINO</title>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/jquery-ui.min.js"></script>
    <script src="../static/js/slick.min.js"></script>
    <script src="../static/js/gsap.js"></script>
    <script src="../static/js/gsap_scroll_trigger.js"></script>
    <script src="../static/js/green.js"></script>
    <script src="../static/js/common.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/sub.js"></script>
</head>

<body><section>
    <div class="custom_text_change">
        <p>커스텀 글자변경 설정</p>
        <!-- <a href="javascript:window.close();"> <img class="x_btn" src="../static/images/x_btn.png"></a> -->
        <div>
            <ul>
                <li>
                    <span>1.</span>
                    <input type="text" name="text_custom" class="text_field" placeholder="">
                    <img src="../static/images/arrow.png">
                    <input type="text" name="text_custom" class="text_field" placeholder="">
                </li>

                <li>
                    <span>2.</span>
                    <input type="text" name="text_custom" class="text_field" placeholder="">
                    <img src="../static/images/arrow.png">
                    <input type="text" name="text_custom" class="text_field" placeholder="">
                </li>

                <li>
                    <span>3.</span>
                    <input type="text" name="text_custom" class="text_field" placeholder="">
                    <img src="../static/images/arrow.png">
                    <input type="text" name="text_custom" class="text_field" placeholder="">
                </li>

                <li>
                    <span>4.</span>
                    <input type="text" name="text_custom" class="text_field" placeholder="">
                    <img src="../static/images/arrow.png">
                    <input type="text" name="text_custom" class="text_field" placeholder="">
                </li>

                <li>
                    <span>5.</span>
                    <input type="text" name="text_custom" class="text_field" placeholder="">
                    <img src="../static/images/arrow.png">
                    <input type="text" name="text_custom" class="text_field" placeholder="">
                </li>

                <li>
                    <span>6.</span>
                    <input type="text" name="text_custom" class="text_field" placeholder="">
                    <img src="../static/images/arrow.png">
                    <input type="text" name="text_custom" class="text_field" placeholder="">
                </li>

                <li>
                    <span>7.</span>
                    <input type="text" name="text_custom" class="text_field" placeholder="">
                    <img src="../static/images/arrow.png">
                    <input type="text" name="text_custom" class="text_field" placeholder="">
                </li>

                <li>
                    <span>8.</span>
                    <input type="text" name="text_custom" class="text_field" placeholder="">
                    <img src="../static/images/arrow.png">
                    <input type="text" name="text_custom" class="text_field" placeholder="">
                </li>

                <li>
                    <span>9.</span>
                    <input type="text" name="text_custom" class="text_field" placeholder="">
                    <img src="../static/images/arrow.png">
                    <input type="text" name="text_custom" class="text_field" placeholder="">
                </li>

                <li class="last_text">
                    <span>10.</span>
                    <input type="text" name="text_custom" class="text_field" placeholder="">
                    <img src="../static/images/arrow.png">
                    <input type="text" name="text_custom" class="text_field" placeholder="">
                </li>
            </ul>
        </div>

        <div class="confirm_cancel_btn">
            <input type="submit" value="확 인" class="submit_btn">
            <input type="submit" value="취 소" class="cancel_btn">
        </div>
    </div>


</section></body>

</html>