<!DOCTYPE html>
<html lang="ko">

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=1600" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="format-detection" content="telephone=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="x-rim-auto-match" content="none" />
  <link rel="shortcut icon" href="../static/images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="../static/css/slick.css" />
  <link rel="stylesheet" type="text/css" href="../static/css/common.css" />
  <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
  <link rel="stylesheet" type="text/css" href="../static/css/sub.css" />
  <title>DINO</title>
  <script src="../static/js/jquery-3.3.1.min.js"></script>
  <script src="../static/js/jquery-ui.min.js"></script>
  <script src="../static/js/slick.min.js"></script>
  <script src="../static/js/gsap.js"></script>
  <script src="../static/js/gsap_scroll_trigger.js"></script>
  <script src="../static/js/green.js"></script>
  <script src="../static/js/common.js"></script>
  <script src="../static/js/main.js"></script>
  <script src="../static/js/sub.js"></script>
</head>

<body><section>

    <div class="detailpage">
      <p>상세페이지 수정</p>
      <div class="detailpage_menubar">
        <div class="detailpage_menubar_wrap">
          <div class="munu_left">
            <div class="image__edit">
              <img src="../static/images/image_editing.png">이미지 편집
            </div>          
            <div class="movie_upload">
              <form class="number_checkbox">
                <input id="agree_1" type="checkbox">
                <label for="agree_1">
                  동영상 업로드
                </label>
                <input id="agree_2" type="checkbox">
                <label for="agree_2">
                  음소거
                </label>
              </form>
            </div>          
          </div>
          <div>
            <div class="ai"><img src="../static/images/AI_translation.png">AI 번역</div>
            <div class="initial">초기화</div>
          </div>
        </div>
      </div>

      <div class="detailpage_edit">
        <div class="edit_video">
        </div>
        <div class="content_guide">

        </div>
      </div>

      <div class="confirm_cancel_btn">
        <input type="submit" value="확인" class="submit_btn">
        <input type="submit" value="취소" class="cancel_btn">
      </div>
    </div>
</section></body>

</html>