<!DOCTYPE html>
<html lang="ko">

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=1600" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="format-detection" content="telephone=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="x-rim-auto-match" content="none" />
  <link rel="shortcut icon" href="../static/images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="../static/css/slick.css" />
  <link rel="stylesheet" type="text/css" href="../static/css/common.css" />
  <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
  <link rel="stylesheet" type="text/css" href="../static/css/sub.css" />
  <title>DINO</title>
  <script src="../static/js/jquery-3.3.1.min.js"></script>
  <script src="../static/js/jquery-ui.min.js"></script>
  <script src="../static/js/slick.min.js"></script>
  <script src="../static/js/gsap.js"></script>
  <script src="../static/js/gsap_scroll_trigger.js"></script>
  <script src="../static/js/green.js"></script>
  <script src="../static/js/common.js"></script>
  <script src="../static/js/main.js"></script>
  <script src="../static/js/sub.js"></script>
</head>

<body><section>
    <div class="mainpage_edit">
        <p>메인사진 수정</p>
        <div class="detailpage_menubar">
          <ul>
            <li class="img_upload"><img src="../static/images/img_upload.png"> <span>이미지업로드</span></li>
            <li class="delete">삭제</li>
            <li class="representative_img">대표이미지 설정</li>
            <li class="img_apply">수정한 이미지 적용</li>
          </ul>
        </div>

        <div class="mainpage_edit_content">
            <div>
               
            </div>

            <div class="content_toolbar">
                <ul>
                    <li><img src="../static/images/back.png"></li>
                    <li><img src="../static/images/next.png"></li>
                    <li><img src="../static/images/turn.png"></li>
                    <li><img src="../static/images/bar.png"></li>
                    <li><img src="../static/images/trash.png"></li>
                    <li><img src="../static/images/trash_all.png"></li>
                    <li><img src="../static/images/bar.png"></li>
                    <li><img src="../static/images/crop.png"></li>
                    <li><img src="../static/images/crop2.png"></li>
                    <li><img src="../static/images/crop3.png"></li>
                    <li><img src="../static/images/edit_p.png"></li>
                    <li><img src="../static/images/figure.png"></li>
                    <li><img src="../static/images/star.png"></li>
                    <li><img src="../static/images/text.png"></li>
                    <li><img src="../static/images/control.png"></li>
                </ul>
            </div>

            <div class="content_toolbar_figure"> 
             
            </div>
            
            <div class="content_img">
              
            </div>
          </div>

          <div class="save_btn">
            <input type="submit" value="저장" class="submit_btn" value = "제출">
          </div>
    </div>
        
</section></body>

</html>
